@import 'bootstrap';

 .notFound-img {  
    width: 1748px;
    height: 926px;
    top: 0;
    left: 0;
 }

 .notFound-container {
    position: relative;
    text-align: center;
 }

 .notFound-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }


 .header {
   display: flex;
   justify-content: flex-end;
   flex-direction: row;
   background-color: #96ABB0;
   font-family: Ubuntu;
   margin-top: 0;
   padding-top: 0;
   padding-bottom: 0;
}

.nav-link {
   color: #46433E;
}

.nav-link:hover {
   color: #B36B39;
}

.logo {
   height: 65px;
   display: flex;
}

 #footer-sizing {
   background-color: #96ABB0;
   width: 100%;
   height: 60px;
   padding-top: 20px;
   display: block;
   margin-top: 20px; 
 }

 .footer-container {
   font-family: 'Ubuntu';
   text-align: center;
 }
 
 .show-image {
   height: 400px;
   // width: fit-content;
   display: flex;
   margin: 0 auto;
 }

.show-container {
   display: flex;
   justify-content: center;
   align-content: center;
   text-align: center;
   margin: 0 auto;
   margin-top: 2rem;
   width: fit-content;
}

.edit {
    margin-left: 10px;
}
.delete {
   margin-left: 10px;
}

