@import 'bootstrap';

 html, body {
   width: 100%;
   height: 100%;
   background-color: #D7E0E7;
 }
 
 .notFound-img {  
   
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
 }

 .notFound-container {
    position: relative;
    text-align: center;
 }

 .notFound-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 .header {
   display: flex;
   justify-content: flex-end;
   flex-direction: row;
   background-color: #96ABB0;
   font-family: Ubuntu;
   margin-top: 0;
   padding-top: 0;
   padding-bottom: 0;
}

.nav-link {
   color: #46433E;
}

.nav-link:hover {
   color: #B36B39;
}

.logo {
   height: 65px;
   display: flex;
}

 #footer-sizing {
   background-color: #96ABB0;
   width: 100%;
   height: 60px;
   padding-top: 20px;
 }

 .footer-container {
   font-family: 'Ubuntu';
   text-align: center;
 }

 .home-message {
   font-family: 'Unbuntu';
   text-align: center;
 }

 .home-heading {
   font-family: 'inspiration', 
 }

 .home-container {
   border: 1px solid black;
   background-color: #D7E0E7;
   text-align: center;
   padding-top: 2rem;
   padding-bottom: 1rem;
 }

.home-buttons {
   display: flex;
   justify-content: center;
}

.home-button-spacing {
   margin-left: 36px;
}
 
.show-image {
   height: 400px;
   // width: fit-content;
   display: flex;
   margin: 0 auto;
}

.show-container {
   display: flex;
   justify-content: center;
   align-content: center;
   text-align: center;
   margin: 0 auto;
   margin-top: 2rem;
   width: fit-content;
}

.edit {
    margin-left: 10px;
}
.delete {
   margin-left: 10px;
}

// SpotIndex
.indexcardimg-sizing {
   width: 100%;
   height: 20vw;
   object-fit: cover;
}

.indexcard-spacing {
   display: flex;
   justify-content: space-around;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.indexcard-text {
   font-family: 'Ubuntu';
   text-align: center;
}

.indexcard-container {
   filter: drop-shadow(0 0.2rem 0.25rem black);
}