@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inspiration&family=Pacifico&display=swap');

 * {
   box-sizing: border-box;
 }

 html, body {
   // width: 100%;
   height: 100%;
   background-color: #B4F8C8;
   cursor: url(Paw_Print.svg), auto !important;
 }

 h1 {
   font-family: 'inspiration', cursive;
   text-align: center;
   font-size: 65px;
   margin-top: 1rem;
}

.page-container {
   position: relative;
   min-height: 100vh;
}

.content-wrap {
   padding-bottom: 2.5rem;
}

.row {
   margin-left: 0;
   margin-right: 0;
}


// Not Found -----
 .notFound-img {  
   
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
 }

 .notFound-container {
    position: relative;
    text-align: center;
 }

 .notFound-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0.2rem 0.25rem rgb(246, 196, 135));
 }

 .notFound-parag {
   font-size: 20px;
   font-family: 'Ubuntu';
 }

 .notFound-button {
   color:#07D2BE
}

.notFound-button:hover {
   background-color: #F24E70;
   color: #07D2BE;
   font-family: 'Ubuntu';
}


// Header -----

 .header {
   display: flex;
   justify-content: flex-end;
   flex-direction: row;
   background-color: #07D2BE;
   font-family: Ubuntu;
   margin-top: 0;
   padding-top: 0;
   padding-bottom: 0;
}

.nav-link {
   color: #0C2D48;
}

.nav-link:hover {
   color: #F24E70;
   cursor: url(Paw_Print.svg), auto !important;
}

.logo {
   height: 65px;
   display: flex;
}

// Footer -----
 #footer-sizing {
   background-color: #07D2BE;
   width: 100%;
   height: 60px;
   padding-top: 20px;
 }

 .footer-container {
   bottom: 0;
   height: 2.5rem;
   font-family: 'Ubuntu';
   position: absolute;
   text-align: center;
   width: 100%;
 }

 // Home -----
 .home-message {
   font-family: 'Unbuntu';
   text-align: center;
   display: flex;
   align-items: center;
   padding: 0 1rem 0 2rem;
 }

 .home-heading {
   font-family: 'inspiration', cursive;
   color: #0C2D48;
   font-size: 90px;

 }

 .home-container {
   background-color: #B4F8C8;
   text-align: center;
   padding-top: 2rem;
   margin: 2rem 2rem 2rem 2rem;
   padding-bottom: 1rem;
   line-height: 2.5rem;
 }

 .home-container img {
   margin-bottom: 2rem;
 }

.home-buttons {
   display: flex;
   justify-content: center;
}

.home-button-spacing {
   margin-left: 36px;
}

.carousel-container {
   display: flex;
   justify-content: center;
}

.carousel {
   width:70vw;
   border:2px solid black;
}

.home-walkthrough-container {
   display: flex;
   justify-content: space-between;
   background-color: #B4F8C8;
   text-align: center;
   padding-top: 2rem;
   margin: 2rem 2rem 2rem 2rem;
   padding-bottom: 1rem;
   line-height: 2.5rem;
}

.home-walkthrough-container img {
   width:35rem;
   border: .5px solid black;
}

 
// Show -----

 .show-image {
   height: 400px;
   display: flex;
   margin: 0 auto;
}

.show-container {
   display: flex;
   justify-content: center;
   align-content: center;
   text-align: center;
   margin: 0 auto;
   margin-top: 2rem;
   width: fit-content;
   filter: drop-shadow(0 0.2rem 0.25rem black);
}

.show-container .card {
   width: 50rem;
}


.google-map {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 1.5rem;
}

.edit {
    margin-left: 10px;
}
.delete {
   margin-left: 10px;
}


// Buttons -----

button.btn.btn-secondary {
   background-color:#0C2D48;
   cursor: url(Paw_Print.svg), auto !important;
}

a {
   color: #07D2BE;
   text-decoration: none;
   text-align: center;
   cursor: url(Paw_Print.svg), auto !important;
}

a:hover, a:active {
   color: #0C2D48;
   cursor: url(Paw_Print.svg), auto !important;
}

Button {
   background-color: #F24E70;
   cursor: url(Paw_Print.svg), auto !important;
}

button.btn.btn-secondary {
   background-color:#0C2D48;
}

button.btn.btn-secondary:hover, a:active {
   background-color:#F24E70;
   border-radius: 50%;
   cursor: url(Paw_Print.svg), auto !important;
}

.carousel-indicators .active {
   cursor: url(Paw_Print.svg), auto !important;
}

.edit {
   margin-left: 10px;
}
.delete {
   margin-left: 10px;
}

.new-button {
   display: flex;
   justify-content: center;
}

.edit-button {
   display: flex;
   justify-content: center;
}

// SpotIndex

.indexcardimg-sizing {
   width: 100%;
   height: 15vw;
   object-fit: cover;
}

.indexcard-spacing {
   display: flex;
   justify-content: space-around;
   margin-top: 1rem;
   margin-bottom: 1rem;
}


.indexcard-text {
   font-family: 'Ubuntu';
   text-align: center;
}

.indexcard-container {
   filter: drop-shadow(0 0.2rem 0.25rem black);
}

.row {
   display: flex;
   justify-content: center;
}


// About -----
.cards-container{
   height: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-bottom: 1rem;
   filter: drop-shadow(0 0.2rem 0.25rem black);
}

.about-card {
   display: flex;
   justify-content: space-around;
   margin: 1rem 2rem 1rem 2rem;
}


.aboutus-img {
   width: 90%;
   margin: auto;
   margin-top: 20px;
}

.card-img{
   height: 30rem;
}



.about-title {
   text-align: center;
   color: #0C2D48;
   font-size: 40px;
   font-weight: bold;
   font-family: 'inspiration', cursive;
}

.about-subtitle {
   text-align: center;
   color: #F24E70;
   font-size: 20px;
   font-weight: 300;
}

// Sign Up -----
.sign-up-form {
   display: flex;
   justify-content: center;
   height: 100%;
   align-items: center;
   .field {
      font-size: 20px;
      margin-bottom: 5px;
      color: #0C2D48;
      font-family: 'Ubuntu';
      input {
         padding: 0.4rem;
         font-size: 15px;
         width: 100%;
         font-family: 'Ubuntu';
      }
      input:hover {
         background-color: #F24E70;
         color: #0C2D48; 
      }
   }

   h2 {
      font-family: 'inspiration', cursive;
      font-size: 80px;
      text-align: center;
      color: #0C2D48;
   }

   .submit-button {
      margin-top: 5px;
      font-size: 15px;
      background-color: #0C2D48;
      color: #07D2BE;
      border: 1px solid #0C2D48;
      padding: 10px;
      border-radius: 5px;
   }
   .submit-button:hover{
      background-color: #F24E70;
      color: #0C2D48;
      border-radius: 50%;
    }
    a {
      color: #0C2D48;
      font-size: 15px;
    }
    a:hover{
      color:#F24E70;
    }
    .logo {
      width: 75px;
      height: 75px;
    }
    .logo-signup {
      display: flex;
      align-items: center;
      justify-content: center;
      .sign-up {
         text-align: center;
         margin-left: 1rem;
      }
    }
    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: nowrap;
      flex-direction: column;
    }
}

// Sign In -----
.log-in-form {
   display: flex;
   justify-content: center;
   height: 100%;
   align-items: center;
   .field {
      font-size: 20px;
      margin-bottom: 5px;
      color: #0C2D48;
      font-family: 'Ubuntu';
      input {
         padding: 0.4rem;
         font-size: 15px;
         width: 100%;
         font-family: 'Ubuntu';
      }
      input:hover {
         background-color: #F24E70;
         color: #0C2D48; 
      }
   }

   h2 {
      font-family: 'inspiration', cursive;
      font-size: 80px;
      text-align: center;
      color: #0C2D48;
   }

   .submit-button {
      margin-top: 5px;
      font-size: 15px;
      background-color: #0C2D48;
      color: #07D2BE;
      border: 1px solid #0C2D48;
      padding: 10px;
      border-radius: 5px;
   }
   .submit-button:hover{
      background-color: #F24E70;
      color: #0C2D48;
      border-radius: 50%;
   }
   a {
      color: #0C2D48;
      font-size: 15px;
    }
    a:hover{
      color:#F24E70;
    }
    .logo {
      width: 75px;
      height: 75px;
    }
    .logo-signup {
      display: flex;
      align-items: center;
      justify-content: center;
      .log-in {
         text-align: center;
         margin-left: 1rem;
      }
    }

    .remember-me {
      display: flex;
      width: 100%;
      .field {
         display: flex;
         .rem-label {
            display: flex;
            margin-left: 5px;
         }
      }
    }

    .login-submit {
      display: flex;
      align-items: center;
      flex-direction: column;
      .links {
         display: flex;
      }
    }
    br {
      display: none;
   }
}


// Forgot Password -----
.forgot-your-password {
   display: flex;
   justify-content: center;
   height: 100%;
   align-items: center;
   .field {
      font-size: 20px;
      margin-bottom: 5px;
      color: #0C2D48;
      font-family: 'Ubuntu';
      input {
         padding: 0.4rem;
         font-size: 15px;
         width: 100%;
         font-family: 'Ubuntu';
      }
      input:hover {
         background-color: #F24E70;
         color: #0C2D48; 
      }
   }

   h2 {
      font-family: 'inspiration', cursive;
      font-size: 80px;
      text-align: center;
      color: #0C2D48;
      margin-left: 5px;
   }

   .submit-password {
      margin-top: 5px;
      font-size: 15px;
      background-color: #0C2D48;
      color: #07D2BE;
      border: 1px solid #0C2D48;
      padding: 10px;
      border-radius: 5px;
   }
   .submit-password:hover{
      background-color: #F24E70;
      color: #0C2D48;
      border-radius: 50%;
    }
    a {
      color: #0C2D48;
      font-size: 15px;
    }
    a:hover{
      color:#F24E70;
    }
    .logo {
      width: 75px;
      height: 75px;
    }
    .logo-signup {
      display: flex;
      align-items: center;
      justify-content: center;
      .log-in {
         text-align: center;
         margin-left: 1rem;
      }
    }

    .password-actions {
      display: flex;
      align-items: center;
      flex-direction: column;
      .links {
         display: flex;
      }
    }
}


// SpotEdit

.edit-formbody {
   width: 75%;
   display: block;
   margin: auto;
}

.form-input {
   font-family: 'Ubuntu';
}

.form-input:hover {
   background-color: #F24E70;
   color: #0C2D48; 
}

.form-button {
   color:#07D2BE;
}

.form-button:hover {
   background-color: #F24E70;
   border-radius: 50%;
   color: #07D2BE;
   font-family: 'Ubuntu';
}

.form-spacing {
   margin-bottom: 2rem;
}

// filter

.filter {
   display: flex;
   justify-content: center;
}

.filter .filter-buttons {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100vw;
}

.filter .filter-buttons button {
   margin: 20px;
   position: relative;
   width: 150px;
   height: 60px;
   background: transparent;
   border: none;
}

.filter .filter-buttons button:hover {
   background-color: #0C2D48;
   border-radius: 7px;
}


.c1, .c2, .c3, .c4{
   background:#F24E70;
   height: 30px;
   width: 30px;
   border: 1px solid #000;
   border-radius: 50%;
   position:absolute;
 }

 .c1{
   left: 0;
   top: 0;
 }
 .c2{
   right: 0;
   top: 0;
 }
 .c3{
   left: 0;
   bottom: 0;
 }
 .c4{
   bottom: 0;
   right: 0;
 }
 .b1 {
   background:#F24E70;
   height: 30px;
   width: 120px;
   position:absolute;  
   left: 15px;
   top: 15px;
 }

 .b1:hover {
   color: white;
 }

 .b2 {
   position: absolute;
   left: 15px;
   top: 0;
   width: 90px;
   height: 30px;
   line-height: 30px;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   text-align: center;
 }


