@import 'bootstrap';

 html, body {
   width: 100%;
   height: 100%;
   background-color: #D7E0E7;
 }
 
 .notFound-img {  
    width: 1748px;
    height: 926px;
    top: 0;
    left: 0;
 }

 .notFound-container {
    position: relative;
    text-align: center;
 }

 .notFound-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 #footer-sizing {
   background-color: #96ABB0;
   width: 100%;
   height: 60px;
   padding-top: 20px;
 }

 .footer-container {
   font-family: 'Ubuntu';
   text-align: center;
 }

 .home-message {
   font-family: 'Unbuntu';
   text-align: center;
 }

 .home-heading {
   font-family: 'inspiration', cursive;
 }

 .home-container {
   border: 1px solid black;
   background-color: #D7E0E7;
   text-align: center;
   padding-top: 2rem;
   padding-bottom: 1rem;
 }

.home-buttons {
   display: flex;
   justify-content: center;
}

.home-button-spacing {
   margin-left: 36px;
}

.page-button {
   color: blue !important;
}






 